nav{				
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    background: white; //$nav-bg;
	padding: $nav-pad 50px $nav-pad;		
	text-align: center;
/* 	align-items: center; */
/* 	align-content: center; */
/* 	text-align: center; */		
}
nav .logo{
	font-size: $nav-fnt-sz;
	flex: 0; //1;
	font-weight: bold;
	font-variant-caps:petite-caps;
	color: $nav-color;
	text-shadow: $nav-txtshdw;
	padding: $nav-pad + 5px;	
/* 	background: linear-gradient(to bottom, snow, transparent);		 */
}
nav ul{		
	font-family: $price-font;
	font-size: $nav-fnt-sz - 13px;
	flex: 2;
	width: 100%;
}
nav li{		
	color: $nav-color;
	display:inline-flex;
	list-style: none;
	padding: $nav-pad;
	margin-top: $nav-pad;
/* 	border-bottom: 3px solid transparent;		 */
/* 	border:1px solid  rebeccapurple; */
}
nav li:hover{	
	cursor: pointer;
	background: $nav-hvr;
/* 	border-bottom-right-radius: 10px; */
/* 	border-bottom-left-radius: 10px; */
}
nav a{
	color: inherit;
	text-decoration: none;
}
nav input{
	flex: 0;
	padding: $nav-pad - 5px;		
	margin: $nav-pad + 5px;
	border-radius: 1em;
}