body {
  color: #881200;
  border: 2px solid orangered;
  text-align: center; }

main {
  max-width: 1200px;
  margin: 0 auto;
  color: #881200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  main h1 {
    font-size: 2em; }

body {
  color: red;
  border: 2px solid orangered; }

div {
  padding: 2px; }
