 @import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato|Roboto|Muli|Montserrat+Alternate&display=swap');

body {		
	font: 14px 'Montserrat Alternate', 'Muli', 'Roboto', 'Lato', sans-serif;  
  padding:6%;
	background: burlywood;
  background: -webkit-linear-gradient(to top, #19547b, navajowhite);  
  background: linear-gradient(to top, gray, navajowhite);
}



h1,h2{
	text-align: center;
	font-family:'Comfortaa', cursive;
	font-weight:bolder;	
}
h1{	
	font-size: 48px;
	padding-bottom: 40px;
/* 	color: white; */
	font-weight:bolder;
}
h2{			
	padding: 2px;	
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: 1px 3px 5px burlywood;
}
main{	
	display: flex;
	flex-direction: column;
	align-content: center;
}

#products{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding: 50px;	
/*  	background-color:burlywood; 		 */
	background: #ffd89b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, gray, blanchedalmond);  
	background: linear-gradient(to top, silver, blanchedalmond);

}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 25% }
	50% { background-position: 50% 25% }
	100% { background-position: 0% 25% }
}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 25% }
	50% { background-position: 50% 25% }
	100% { background-position: 0% 25% }
}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 25% }
	50% { background-position: 50% 25% }
	100% { background-position: 0% 25% }
}


#showcase{
	background-color: blanchedalmond;'	
	width: 100%;
	padding: 20px;		
}

#showcase img{
	cursor: pointer;	
	vertical-align: top;		
	width: 100%;	
}

.grid-container{
	display:grid;
	grid-gap: 50px;
	grid-template-columns: auto auto auto;
	align-content: center;	
	justify-content: center;	
}

.grid-item{		
	font-family: 'Lato' sans-serif;
	background-color: white;
	padding: 10px;
	text-align: center;	
	border-bottom: 5px solid black;	
}

.grid-item img{
	cursor: pointer;
	border-radius: 3px;	
	width: 100%;
}
/*
iphone 6/78 +
iphone x/xs +
galaxy s8/9/10
*/
@media screen and (max-width: 600px){
	.grid-container{
		grid-template-columns: auto;
		padding:0px;
	}
	.grid-item{
		padding: 0px;
	}
	#products{
		padding: 20px;
	}
	body{
		padding: 5px;
	}
	h1{
		padding: 10px;		
	}
}

@media screen and (min-width:601px) and (max-width: 900px){
	.grid-container{
		grid-template-columns: auto auto;
		padding: 0px;		
	}
	.grid-item{
		padding: 0px;
	}
	#products{
		padding: 20px;
	}
	body{
		padding: 5px;
	}
	h1{
		padding:10px;
	}
}

.product .price{
	cursor: pointer;
	color: burlywood;
	text-shadow: 1px 2px 1px black;
	font-weight: bold;
	font-size: 22px;
	border: 2px solid black;
	padding: 5px;		
	margin: 10px;
	
}

.card{	
	box-shadow: 0 4px 8px 9 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;			
}


button{
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background-color:black;
	text-align: center;
	cursor: pointer;
	width: auto;
	padding: 12px;
	margin: 10px;
	border: 2px solid black;
	outline: 0;	
}

.card button:hover{
	cursor: pointer;
	opacity: 0.7;
}
